@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* universal*/

body {
    padding-top: 60px;//bodyの上部に60ピクセルの隙間を入れる
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;//文字などが中央よせになる．dvi内だと思われる
    h1 {
	margin-bottom: 10px;//h1とh2の間
    }
}
//上から順に読み込まれていく，上の条件を下で書き換えてるところがところどころある．
/* typography */


h1,h2,h3,h4,h5,h6 {
    line-height: 1;//行間の大きさ
}

h1 {
    font-size: 3em;//変わらず
    letter-spacing: -2px;//一文字一文字の間隔
    margin-bottom: 30px;//変わらず
    text-align: center;
}

h2 {
    font-size: 1.2em;//文字サイズ
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;//文字の太さ
    color: $gray-light;//文字の色　灰色
    
}

p {
    fontsize: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float:left; //headerが減った
    margin-right: 10px;//sample appのなにか
    font-size: 1.7em;//sample appの文字サイズを決めている
    color: white;//sample appの色が白
    text-transform: uppercase;//sample appがすべて大文字に
    letter-spacing: -1px;//sample appの文字間隔
    padding-top: 9px;//sample appの上部に隙間
    font-weight: bold;//文字の太さ
    &:hover {//不明
	color: white;
	text-decoration: none;
    }
}

/* footer */
footer {//_footer.html.erbのclassの名前
    margin-top: 45px;//footer上部に空白を開ける
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;//footerの上に灰色い枠ができた，1pxだと灰色い直線みたいになるみたい
    color: $gray-light;//footerのフォントの色
    a {
	color: $gray;//footer全てが灰色くなった
	&:hover {
	    color: $gray-darker;
	}
    }
    small {//aboutだけ右側にきた，多分smallタグをfloatでleftに寄せてるのだと思われる
	float: left;
    }
    ul {
	float: right;//about contact newsが全て右に
	list-style: none;//箇条書きの点が消える
	li {
	    float: left;//箇条書きが縦に並んでたのが，横一列に並んだ
	    margin-left: 15px;// about contact newsの間に15pxの空白
	}
    }
}

/* miscellanceous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* sidebar */

aside {
    section.user_info {
	margin-top: 20px;
    }
    section{
	padding: 10px 0;
	margin-top:20px;
	&:first-child {
	    border: 0;
	    padding-top: 0;
	}
	span {
	    display: block;
	    margin-bottom: 3px;
	    line-height: 1;
	}
	h1{
	    font-size: 1.4em;
	    text-align: left;
	    letter-spacing: -1px;
	    margin-bottom: 3px;
	    margin-top: 0px;
	}
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }
  
  .stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }
  
  .user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
    a {
      padding: 0;
    }
  }
  
  .users.follow {
    padding: 0;
  }
      

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
	color: red;
	margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
	color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

 /* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  /* microposts */

.microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }