<footer class="footer">
  
  <small>
    <!-- 下に小さいロゴを作る　なんかフォントが<small>によって小さくなるっぽい-->
    The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>

    <nav><!-- ナビゲーションのタグ-->
      <ul><!-- 箇条書き-->
	<li><%= link_to "About", about_path %> </li><!-- リンクはっつける-->
	<li><%= link_to "Contact", contact_path %> </li>
	<li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>      
    </nav>
</footer>

